In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\sachi\\Downloads\\archive (5)\\raw_data\\Ontimerepclean\\merged-ontimerep2019-20.csv")
df

,Unnamed: 0.1,Unnamed: 0,DATE,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,0,163111,2020-01-01,3,WN,N909WN,946,10821,BWI,"Baltimore, MD",...,NaN,150.0,137.0,787.0,4,NaN,NaN,NaN,NaN,NaN
1,1,521054,2020-01-01,3,AA,N760AN,1297,12892,LAX,"Los Angeles, CA",...,NaN,287.0,273.0,2342.0,10,NaN,NaN,NaN,NaN,NaN
2,2,585331,2020-01-01,3,YX,N650RW,3462,14492,RDU,"Raleigh/Durham, NC",...,NaN,103.0,117.0,416.0,2,NaN,NaN,NaN,NaN,NaN
3,3,585330,2020-01-01,3,YX,N864RW,3461,11423,DSM,"Des Moines, IA",...,NaN,137.0,108.0,589.0,3,NaN,NaN,NaN,NaN,NaN
4,4,174457,2020-01-01,3,MQ,N834AE,3815,14122,PIT,"Pittsburgh, PA",...,NaN,94.0,70.0,335.0,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3694068,3694068,188882,2019-12-31,2,DL,N935DN,635,14100,PHL,"Philadelphia, PA",...,NaN,147.0,131.0,666.0,3,NaN,NaN,NaN,NaN,NaN
3694069,3694069,188883,2019-12-31,2,DL,N112DU,636,12266,IAH,"Houston, TX",...,NaN,197.0,191.0,1416.0,6,NaN,NaN,NaN,NaN,NaN
3694070,3694070,188884,2019-12-31,2,DL,N988DN,644,10994,CHS,"Charleston, SC",...,NaN,80.0,69.0,259.0,2,NaN,NaN,NaN,NaN,NaN
3694071,3694071,188867,2019-12-31,2,DL,N829NW,596,13830,OGG,"Kahului, HI",...,NaN,360.0,368.0,2935.0,11,NaN,NaN,NaN,NaN,NaN
3694072,3694072,625762,2019-12-31,2,B6,N907JB,862,14843,SJU,"San Juan, PR",...,NaN,249.0,231.0,1674.0,7,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3694073 entries, 0 to 3694072
Data columns (total 33 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0.1         int64
 1   Unnamed: 0           int64
 2   DATE                 object
 3   DAY_OF_WEEK          int64
 4   OP_UNIQUE_CARRIER    object
 5   TAIL_NUM             object
 6   OP_CARRIER_FL_NUM    int64
 7   ORIGIN_AIRPORT_ID    int64
 8   ORIGIN               object
 9   ORIGIN_CITY_NAME     object
 10  DEST_AIRPORT_ID      int64
 11  DEST                 object
 12  DEST_CITY_NAME       object
 13  CRS_DEP_TIME         int64
 14  DEP_TIME             float64
 15  DEP_DELAY_NEW        float64
 16  DEP_DEL15            float64
 17  DEP_TIME_BLK         object
 18  CRS_ARR_TIME         int64
 19  ARR_TIME             float64
 20  ARR_DELAY_NEW        float64
 21  ARR_TIME_BLK         object
 22  CANCELLED            float64
 23  CANCELLATION_CODE    object
 24  CRS_ELAPSED_TIME     float64
 25  ACTUAL_ELAPSED_TIME  float64
 26  DISTANCE             float64
 27  DISTANCE_GROUP       int64
 28  CARRIER_DELAY        float64
 29  WEATHER_DELAY        float64
 30  NAS_DELAY            float64
 31  SECURITY_DELAY       float64
 32  LATE_AIRCRAFT_DELAY  float64
dtypes: float64(14), int64(9), object(10)
memory usage: 930.1+ MB

Index(['Unnamed: 0.1', 'Unnamed: 0', 'DATE', 'DAY_OF_WEEK',
       'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_CITY_NAME', 'DEST_AIRPORT_ID',
       'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY_NEW',
       'DEP_DEL15', 'DEP_TIME_BLK', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY_NEW', 'ARR_TIME_BLK', 'CANCELLED', 'CANCELLATION_CODE',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'DISTANCE', 'DISTANCE_GROUP',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY'],
      dtype='object')

Flight Report - Column Details
The details of flights are given in the dataset('ONTIME_REPORTING_2020_01.csv') Flight details of date, arrival, departure and delays are given.

OP_UNIQUE_CARRIER   =   Carrier code refers to airline
Tail Number         =   Registration number provided to every aircraft.
OR_CARRIER_FL_Num   =   Flight routes of aircraft 
ORIGIN_AIRPORT_ID 
ORIGIN
ORIGIN_CITY_NAME    =   Flight Origin details
DEST_AIRPORT_ID,
DEST,DEST_CITY_NAME =   Flight destination details

CRS_DEP_TIME        =   Planned departure time
DEP_TIME            =   Actual departure time
DEP_DELAY_NEW       =   Departure delay in minutes
ARR_TIME            =   Actual arrival time
ARR_DELAY_NEW       =    Arrival delay in minutes
ARR_TIME_BLK        =    Arrival time block
CANCELLED           =    Flag if flight was cancelled
CANCELLATION_CODE   =    Cancellation Code
CRS_ELAPSED_TIME    =    Flight planned elapsed time
ACTUAL_ELAPSED_TIME =    Flight actual elapsed time

DISTANCE            =    Flight Distance (miles)
DISTANCE_GROUP      =    Number to indicate distance. Lower numbers indicate a shorter flight and so on.

CARRIER_DELAY       =    Delay was due to circumstances- maintenance or crew problems, aircraft cleaning fueling etc.
WEATHER_DELAY       =    Delays due to meteorological conditions.
NAS_DELAY           =    Delays and cancellations due to airport operations, heavy traffic volume, air traffic control .
SECURITY_DELAY      =    Delays due to security breach, inoperative screening equipment etc
LATE_AIRCRAFT_DELAY =    Delays  happend when previous flight with same aircraft arrived late.
All delays are mentioned in minutes.

DEP_DEL15  = value is 1 for delay more than 15 mins.

In [4]:
df[df["DISTANCE_GROUP"]==11][['DEST_CITY_NAME','ORIGIN_CITY_NAME']].head()

    DEST_CITY_NAME   ORIGIN_CITY_NAME
470     Boston, MA  San Francisco, CA
497   Honolulu, HI        Houston, TX
498    Houston, TX       Honolulu, HI
508     Boston, MA  San Francisco, CA
516    Kahului, HI        Chicago, IL

Even long distance flights are within US.

In [5]:
df.groupby('TAIL_NUM')['OP_CARRIER_FL_NUM'].apply(list).head()

TAIL_NUM
215NV    [991, 949, 989, 764, 763, 977, 789, 847, 907, ...
216NV    [2835, 1532, 1548, 2834, 1671, 1686, 1638, 163...
217NV    [1656, 1515, 1528, 1593, 2855, 1526, 2854, 158...
218NV    [414, 421, 402, 497, 401, 422, 416, 451, 498, ...
219NV    [1852, 1880, 1834, 1862, 2882, 2883, 1893, 187...
Name: OP_CARRIER_FL_NUM, dtype: object

Observations : Same aircraft('TAIL_NUM') has multiple flight routes('OP_CARRIER_FL_NUM').

In [6]:
df[['CRS_DEP_TIME','DEP_TIME','DEP_DELAY_NEW','DEP_TIME_BLK','DEP_DEL15']].head(200).tail(20)

     CRS_DEP_TIME  DEP_TIME  DEP_DELAY_NEW DEP_TIME_BLK  DEP_DEL15
180          1322    1319.0            0.0    1300-1359        0.0
181          2145    2143.0            0.0    2100-2159        0.0
182          1803    1814.0           11.0    1800-1859        0.0
183           829     820.0            0.0    0800-0859        0.0
184          2240    2239.0            0.0    2200-2259        0.0
185          1727    1724.0            0.0    1700-1759        0.0
186           909     857.0            0.0    0900-0959        0.0
187          1745    1739.0            0.0    1700-1759        0.0
188           717     713.0            0.0    0700-0759        0.0
189          2150    2144.0            0.0    2100-2159        0.0
190          1100    1059.0            0.0    1100-1159        0.0
191          1231    1227.0            0.0    1200-1259        0.0
192          1020    1012.0            0.0    1000-1059        0.0
193          1425       NaN            NaN    1400-1459        NaN
194          1224    1219.0            0.0    1200-1259        0.0
195          1450    1449.0            0.0    1400-1459        0.0
196          1500       NaN            NaN    1500-1559        NaN
197           755     754.0            0.0    0700-0759        0.0
198          1341    1331.0            0.0    1300-1359        0.0
199          1959    1953.0            0.0    1900-1959        0.0

In [7]:
df[['CRS_ARR_TIME','ARR_TIME','ARR_DELAY_NEW','ARR_TIME_BLK','DEP_DEL15']].head(100).tail(10)

    CRS_ARR_TIME  ARR_TIME  ARR_DELAY_NEW ARR_TIME_BLK  DEP_DEL15
90          1135    1123.0            0.0    1100-1159        0.0
91          1924    1903.0            0.0    1900-1959        0.0
92          1359    1358.0            0.0    1300-1359        0.0
93          1135    1251.0           76.0    1100-1159        1.0
94          1402    1343.0            0.0    1400-1459        0.0
95          1150    1130.0            0.0    1100-1159        0.0
96          1319    1251.0            0.0    1300-1359        0.0
97          1740    1713.0            0.0    1700-1759        0.0
98             7    2342.0            0.0    0001-0559        0.0
99          2332    2313.0            0.0    2300-2359        0.0

In [8]:
df[df['WEATHER_DELAY']>0][['DATE','CARRIER_DELAY', 'WEATHER_DELAY',
       'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY','DEP_DELAY_NEW','ARR_DELAY_NEW','DEP_DEL15']]

,DATE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEP_DELAY_NEW,ARR_DELAY_NEW,DEP_DEL15
19,2020-01-01,0.0,1.0,14.0,0.0,0.0,1.0,15.0,0.0
45,2020-01-01,0.0,65.0,52.0,0.0,0.0,65.0,117.0,1.0
361,2020-01-01,0.0,4.0,18.0,0.0,0.0,4.0,22.0,0.0
1102,2020-01-01,0.0,54.0,0.0,0.0,0.0,0.0,54.0,0.0
1207,2020-01-01,0.0,30.0,0.0,0.0,0.0,6.0,30.0,0.0
...,...,...,...,...,...,...,...,...,...
3693659,2019-12-31,0.0,14.0,21.0,0.0,0.0,14.0,35.0,0.0
3693664,2019-12-31,0.0,274.0,46.0,0.0,0.0,274.0,320.0,1.0
3693699,2019-12-31,0.0,19.0,0.0,0.0,0.0,21.0,19.0,1.0
3693785,2019-12-31,0.0,22.0,12.0,0.0,0.0,22.0,34.0,1.0
3693867,2019-12-31,0.0,167.0,18.0,0.0,0.0,167.0,185.0,1.0

Flight Report Dataset - Observations
Weather delay('WEATHER_DELAY'),security delay('SECURITY_DELAY'),carrier delay('CARRIER_DELAY') and late aircraft delay('LATE_AIRCRAFT_DELAY') affects the departure delays('DEP_DELAY_NEW').Whereas National Aviation System Delays('NAS_DELAY') affects the aircraft arrival time('ARR_DELAY_NEW').

The delay flag('DEP_DEL15') is 1 for flights with departure time delay('DEP_DELAY_NEW') >15 mins and independent of arrival time delays.

The climate in the United States (USA) in january ranges from good to very bad depending on the region and city. Weather data has to be collected in order to make a prediction of flight delay based on the cities and corresponding weather conditions.

In [9]:
df.isnull().sum()

Unnamed: 0.1                 0
Unnamed: 0                   0
DATE                         0
DAY_OF_WEEK                  0
OP_UNIQUE_CARRIER            0
TAIL_NUM                 50874
OP_CARRIER_FL_NUM            0
ORIGIN_AIRPORT_ID            0
ORIGIN                       0
ORIGIN_CITY_NAME             0
DEST_AIRPORT_ID              0
DEST                         0
DEST_CITY_NAME               0
CRS_DEP_TIME                 0
DEP_TIME                136206
DEP_DELAY_NEW           136257
DEP_DEL15               136257
DEP_TIME_BLK                 0
CRS_ARR_TIME                 0
ARR_TIME                138693
ARR_DELAY_NEW           144129
ARR_TIME_BLK                 0
CANCELLED                    0
CANCELLATION_CODE      3556412
CRS_ELAPSED_TIME             0
ACTUAL_ELAPSED_TIME     144129
DISTANCE                     0
DISTANCE_GROUP               0
CARRIER_DELAY          3155810
WEATHER_DELAY          3155810
NAS_DELAY              3155810
SECURITY_DELAY         3155810
LATE_AIRCRAFT_DELAY    3155810
dtype: int64

There are many null values in the dataset. Relevant columns have to be identified. Further Reading the weather dataset to get an idea.

Read Weather Dataset (weather)

In [10]:
weather=pd.read_csv("C:\\Users\\sachi\\Downloads\\archive (5)\\raw_data\\Ontimerepclean\\merged_aiport_weather.csv")
weather.head(3)

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT09,WESD,WT10,PSUN,TSUN,SN32,SX32,TOBS,WT11,WT18
0,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,01-01-2019,4.70,NaN,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,01-02-2019,4.92,NaN,0.57,0.0,0.0,56.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,01-03-2019,5.37,NaN,0.15,0.0,0.0,52.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
weather.head(95).tail(8)

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT09,WESD,WT10,PSUN,TSUN,SN32,SX32,TOBS,WT11,WT18
87,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,29-03-2019,4.70,NaN,0.00,0.0,0.0,61.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,30-03-2019,8.50,NaN,0.00,0.0,0.0,65.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,31-03-2019,15.66,NaN,0.10,0.0,0.0,56.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-01-2019,9.62,NaN,0.00,0.0,0.0,48.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-02-2019,8.72,NaN,0.00,0.0,0.0,53.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-03-2019,4.03,NaN,0.00,0.0,0.0,57.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-04-2019,6.49,NaN,0.11,0.0,0.0,62.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-05-2019,6.93,NaN,0.07,0.0,0.0,64.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
weather.groupby('NAME').count().head()

,STATION,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,...,WT09,WESD,WT10,PSUN,TSUN,SN32,SX32,TOBS,WT11,WT18
NAME,,,,,,,,,,,,,,,,,,,,,
"ALBANY INTERNATIONAL AIRPORT, NY US",456,456,456,0,455,456,456,456,456,456,...,7,0,0,0,0,0,0,0,0,0
"ALBUQUERQUE INTERNATIONAL AIRPORT, NM US",456,456,456,8,456,456,456,456,456,456,...,2,0,0,0,0,0,0,0,0,0
"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, AK US",456,456,456,452,456,456,456,456,456,456,...,0,0,0,0,0,0,0,0,0,0
"ASHEVILLE AIRPORT, NC US",365,365,364,0,365,365,365,365,365,365,...,0,0,0,0,0,0,0,0,0,0
"ASPEN PITKIN CO AIRPORT SARDY FIELD, CO US",365,365,365,31,365,0,0,0,365,365,...,1,0,0,0,0,0,0,0,0,0

Weather Data - Columns
There are 7551 entries and 31 columns. The data is about 83 airport stations showing different weather parameters for 3 months(january,February,March of 2020). the first 91 data correspond to first airport station,next 91 data the second airport station and so on.

The columns are identified as following:

NAME = Name of the Airport Station
AWND = Average daily wind speed (miles per hour)
PGTM = Peak gust time (hours and minutes, i.e., HHMM)
PRCP = Precipitation (inches)
PSUN = Daily percent of possible sunshine (percent)

SX32 = Maximum soil temperature
SNOW = Snowfall (inches)
SNWD = Snow depth (inches)

TMAX = Maximum temperature 
TMIN = Minimum temperature 
TSUN = Daily total sunshine (minutes)

WDF1 = Direction of fastest 1-minute wind (degrees)
WDF2 = Direction of fastest 2-minute wind (degrees)
WDF5 = Direction of fastest 5-second wind (degrees)
WSF2 = Fastest 2-minute wind speed (miles per hour or meters per second as per user preference)
WSF5 = Fastest 5-second wind speed (miles per hour or meters per second as per user preference)
WESF = Water equivalent of snowfall
WESD = Water equivalent of snow on the ground
There are many null values in the weather dataset which needs to be processed.

In [13]:
weather.drop(['WT01','WT02','WT03','WT04','WT05','WT06','WT07','WT08','WT09','WT10','WT18'],axis=1,inplace=True)
weather.drop(['STATION','PGTM','PSUN','SN32','SX32','TMIN','TSUN','WDF2','WDF5','WESD'],axis=1,inplace=True)

In [14]:
weather.drop(['WSF2','WSF5'],axis=1,inplace=True)

In [15]:
weather.head(2)

,NAME,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TOBS,WT11
0,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,01-01-2019,4.70,0.14,0.0,0.0,64.0,66.0,NaN,NaN
1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,01-02-2019,4.92,0.57,0.0,0.0,56.0,59.0,NaN,NaN

Weather Dataset - Observations
Origin Airport ID('ORIGIN_AIRPORT_ID') and Departure Airport ID('DEP_AIRPORT_ID' ) are available in 'ONTIME_REPORTING_2020_01.csv'. But in weather dataset 'airport_weather_2020.csv',the Name of Airport Station('NAME') is mentioned .

To get the Airport IDs corresponding to Airport station we need some more data regarding airport details. There is another file 'airports_list.csv' showing this information. Further studying the airport list dataset.

In [16]:
airport=pd.read_csv("C:\\Users\\sachi\\Downloads\\archive (5)\\raw_data\\Ontimerepclean\\airports_list.csv")
airport.info()
airport.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORIGIN_AIRPORT_ID     97 non-null     int64
 1   DISPLAY_AIRPORT_NAME  97 non-null     object
 2   ORIGIN_CITY_NAME      97 non-null     object
 3   NAME                  97 non-null     object
dtypes: int64(1), object(3)
memory usage: 3.2+ KB

,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME,ORIGIN_CITY_NAME,NAME
0,12992,Adams Field,"Little Rock, AR","NORTH LITTLE ROCK AIRPORT, AR US"
1,10257,Albany International,"Albany, NY","ALBANY INTERNATIONAL AIRPORT, NY US"
2,10140,Albuquerque International Sunport,"Albuquerque, NM","ALBUQUERQUE INTERNATIONAL AIRPORT, NM US"
3,10299,Anchorage International,"Anchorage, AK","ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
4,10397,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...

In [17]:
airport['ORIGIN_AIRPORT_ID'].nunique()

97

In [18]:
airport[airport['NAME'].duplicated()]

,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME,ORIGIN_CITY_NAME,NAME
10,13930,Chicago O'Hare International,"Chicago, IL","CHICAGO OHARE INTERNATIONAL AIRPORT, IL US"
33,13830,Kahului Airport,"Kahului, HI","HONOLULU INTERNATIONAL AIRPORT, HI US"
37,12953,LaGuardia,"New York, NY","LAGUARDIA AIRPORT, NY US"
41,12954,Long Beach Daugherty Field,"Long Beach, CA","LOS ANGELES INTERNATIONAL AIRPORT, CA US"
42,12892,Los Angeles International,"Los Angeles, CA","LOS ANGELES INTERNATIONAL AIRPORT, CA US"
55,13891,Ontario International,"Ontario, CA","LOS ANGELES INTERNATIONAL AIRPORT, CA US"
74,14893,Sacramento International,"Sacramento, CA","SACRAMENTO METROPOLITAN AIRPORT, CA US"
80,14761,Sanford NAS,"Sanford, FL","TALLAHASSEE REGIONAL AIRPORT, FL US"
91,15376,Tucson International,"Tucson, AZ","PHOENIX AIRPORT, AZ US"
93,12264,Washington Dulles International,"Washington, DC","WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US"
94,13851,Will Rogers World,"Oklahoma City, OK","OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US"

In [19]:
airport[airport['NAME'].str.contains('CHICAGO OHARE INTERNATIONAL AIRPORT',case=False)]['ORIGIN_AIRPORT_ID']

9     13232
10    13930
Name: ORIGIN_AIRPORT_ID, dtype: int64

In [20]:
airport[airport['NAME'].str.contains('HONOLULU INTERNATIONAL AIRPORT',case=False)]['ORIGIN_AIRPORT_ID']

28    12266
33    13830
Name: ORIGIN_AIRPORT_ID, dtype: int64

In [21]:
airport=airport.drop_duplicates(subset='NAME',keep='first')
print(airport[airport['NAME'].duplicated()])
print(airport[airport['ORIGIN_AIRPORT_ID'].duplicated()])
print(airport[airport['ORIGIN_CITY_NAME'].duplicated()])
print(airport[airport['DISPLAY_AIRPORT_NAME'].duplicated()])
# All duplicates deleted.

Empty DataFrame
Columns: [ORIGIN_AIRPORT_ID, DISPLAY_AIRPORT_NAME, ORIGIN_CITY_NAME, NAME]
Index: []
Empty DataFrame
Columns: [ORIGIN_AIRPORT_ID, DISPLAY_AIRPORT_NAME, ORIGIN_CITY_NAME, NAME]
Index: []
Empty DataFrame
Columns: [ORIGIN_AIRPORT_ID, DISPLAY_AIRPORT_NAME, ORIGIN_CITY_NAME, NAME]
Index: []
Empty DataFrame
Columns: [ORIGIN_AIRPORT_ID, DISPLAY_AIRPORT_NAME, ORIGIN_CITY_NAME, NAME]
Index: []

Airport Dataset - Observations
There are 97 rows with distinct Airport IDs('ORIGIN_AIRPORT_ID'). No missing values in the dataset.

There are 10 Airport Names ('NAME') duplicated in the dataset. Hence only 86 Airport Names. Multiple IDs have same airport Names.

add Codeadd Markdown
In order to get weather data of airports, airport list dataset and weather dataset need to be merged.

# Merging the weather and Airport Details (weather_airport = weather + airport)¶

In [22]:
weather_airport=pd.merge(weather,airport,how="left", on=["NAME"])
weather_airport.head(100).tail(10)

,NAME,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TOBS,WT11,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME,ORIGIN_CITY_NAME
90,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-01-2019,9.62,0.00,0.0,0.0,48.0,61.0,NaN,NaN,10397.0,Atlanta Municipal,"Atlanta, GA"
91,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-02-2019,8.72,0.00,0.0,0.0,53.0,64.0,NaN,NaN,10397.0,Atlanta Municipal,"Atlanta, GA"
92,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-03-2019,4.03,0.00,0.0,0.0,57.0,73.0,NaN,NaN,10397.0,Atlanta Municipal,"Atlanta, GA"
93,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-04-2019,6.49,0.11,0.0,0.0,62.0,70.0,NaN,NaN,10397.0,Atlanta Municipal,"Atlanta, GA"
94,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-05-2019,6.93,0.07,0.0,0.0,64.0,76.0,NaN,NaN,10397.0,Atlanta Municipal,"Atlanta, GA"
95,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-06-2019,7.83,0.00,0.0,0.0,65.0,73.0,NaN,NaN,10397.0,Atlanta Municipal,"Atlanta, GA"
96,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-07-2019,5.59,1.08,0.0,0.0,69.0,80.0,NaN,NaN,10397.0,Atlanta Municipal,"Atlanta, GA"
97,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-08-2019,7.83,0.00,0.0,0.0,70.0,75.0,NaN,NaN,10397.0,Atlanta Municipal,"Atlanta, GA"
98,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-09-2019,5.82,0.08,0.0,0.0,68.0,76.0,NaN,NaN,10397.0,Atlanta Municipal,"Atlanta, GA"
99,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,04-10-2019,5.37,0.00,0.0,0.0,69.0,82.0,NaN,NaN,10397.0,Atlanta Municipal,"Atlanta, GA"

In [23]:
weather_airport.drop(['NAME','ORIGIN_CITY_NAME'],axis=1,inplace=True)
weather_airport.head()

,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TOBS,WT11,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME
0,01-01-2019,4.70,0.14,0.0,0.0,64.0,66.0,NaN,NaN,10397.0,Atlanta Municipal
1,01-02-2019,4.92,0.57,0.0,0.0,56.0,59.0,NaN,NaN,10397.0,Atlanta Municipal
2,01-03-2019,5.37,0.15,0.0,0.0,52.0,55.0,NaN,NaN,10397.0,Atlanta Municipal
3,01-04-2019,12.08,1.44,0.0,0.0,56.0,66.0,NaN,NaN,10397.0,Atlanta Municipal
4,01-05-2019,13.42,0.00,0.0,0.0,49.0,59.0,NaN,NaN,10397.0,Atlanta Municipal

In [24]:
weather_airport.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46226 entries, 0 to 46225
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATE                  46226 non-null  object
 1   AWND                  45845 non-null  float64
 2   PRCP                  46197 non-null  float64
 3   SNOW                  32338 non-null  float64
 4   SNWD                  31750 non-null  float64
 5   TAVG                  34625 non-null  float64
 6   TMAX                  46203 non-null  float64
 7   TOBS                  355 non-null    float64
 8   WT11                  1 non-null      float64
 9   ORIGIN_AIRPORT_ID     38380 non-null  float64
 10  DISPLAY_AIRPORT_NAME  38380 non-null  object
dtypes: float64(9), object(2)
memory usage: 4.2+ MB

Extracting the January data and Reindexing

In [25]:
weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype

C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '13-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '14-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '15-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '16-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '17-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '18-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '19-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '20-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '21-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '22-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '23-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '24-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '25-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '26-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '27-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '28-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '29-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '30-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '31-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '13-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '14-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '15-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '16-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '17-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '18-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '19-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '20-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '21-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '22-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '23-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '24-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '25-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '26-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '27-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '28-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '13-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '14-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '15-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '16-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '17-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '18-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '19-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '20-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '21-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '22-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '23-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '24-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '25-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '26-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '27-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '28-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '29-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '30-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '31-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '13-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '14-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '15-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '16-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '17-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '18-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '19-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '20-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '21-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '22-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '23-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '24-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype
C:\Users\sachi\AppData\Local\Temp\ipykernel_28456\2185548635.py:1: UserWarning: Parsing '25-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  weather_airport['DATE'] = pd.to_datetime(weather_airport['DATE']) # date to datetime datatype

In [26]:
weather_airport.dtypes

DATE                    datetime64[ns]
AWND                           float64
PRCP                           float64
SNOW                           float64
SNWD                           float64
TAVG                           float64
TMAX                           float64
TOBS                           float64
WT11                           float64
ORIGIN_AIRPORT_ID              float64
DISPLAY_AIRPORT_NAME            object
dtype: object

In [27]:
#jan_weather_airport = weather_airport.loc[(weather_airport['DATE'] >= '2020-01-01') # Getting january data by boolean filtering.
#                     & (weather_airport['DATE'] <= '2020-01-31')]     

#jan_weather_airport.head(33).tail(5)

In [28]:
# Reindexing the dataset
#jan_weather_airport.reset_index(inplace = True, drop = True)
#jan_weather_airport.head(33).tail(5)
weather_airport.reset_index(inplace = True, drop = True)
weather_airport.head(33).tail(5)

,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TOBS,WT11,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME
28,2019-01-29,12.53,0.17,0.0,0.0,45.0,51.0,NaN,NaN,10397.0,Atlanta Municipal
29,2019-01-30,9.62,0.00,0.0,0.0,32.0,44.0,NaN,NaN,10397.0,Atlanta Municipal
30,2019-01-31,2.91,0.00,0.0,0.0,37.0,53.0,NaN,NaN,10397.0,Atlanta Municipal
31,2019-02-01,2.91,0.00,0.0,0.0,46.0,62.0,NaN,NaN,10397.0,Atlanta Municipal
32,2019-02-02,4.47,0.00,0.0,0.0,52.0,66.0,NaN,NaN,10397.0,Atlanta Municipal

Preparing Flight Report dataset for merging (df)
add Codeadd Markdown
The Monthly report data ('ONTIME_REPORTING_2020_01.csv') saved as df, has more Airport IDs('ORIGIN_AIRPORT_ID' and 'DEST_AIRPORT_ID') 350 unique values. Whereas the weather dataset has 97 unique ORIGIN_AIRPORT_IDs.

From merged weather data only the data of january need to be extracted First.

Both the dates and AIRPORT ID have to be considered while merging.

Converting the month,day,year to date-time and reordering.

In [29]:
#df['YEAR'] = pd.Series([2020 for x in range(len(df.index))]) # Adding yeAr column to dataset
#df['YEAR']=df['YEAR'].astype(str)
#df['DATE']=df['YEAR'].astype(str)+'/'+df['MONTH'].astype(str)+'/'+df['DAY_OF_MONTH'].astype(str) # combinig month day and year

In [30]:
#df['DATE']=pd.to_datetime(df['DATE']) # converting to date time
#df.drop(['MONTH','DAY_OF_MONTH','YEAR'],axis=1,inplace=True) # dropping parts of date columns

In [31]:
#temp_cols=df.columns.tolist()
#temp_cols

In [32]:
#new_cols=temp_cols[30:] + temp_cols[0:30]
#df=df[new_cols]
#df.drop(['Unnamed: 0.1','Unnamed: 0','DAY_OF_WEEK'],axis=1,inplace=True) # dropping parts of date columns
df.drop(['DAY_OF_WEEK'],axis=1,inplace=True) # dropping parts of date columns
df.head(2)

,Unnamed: 0.1,Unnamed: 0,DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,0,163111,2020-01-01,WN,N909WN,946,10821,BWI,"Baltimore, MD",13204,...,NaN,150.0,137.0,787.0,4,NaN,NaN,NaN,NaN,NaN
1,1,521054,2020-01-01,AA,N760AN,1297,12892,LAX,"Los Angeles, CA",13303,...,NaN,287.0,273.0,2342.0,10,NaN,NaN,NaN,NaN,NaN

In [33]:
df=df.sort_values(by='DATE') # Arranging in ascending order.
df.head()

,Unnamed: 0.1,Unnamed: 0,DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
1847036,1847036,428715,2019-10-01,OO,N750SK,3065,11603,EUG,"Eugene, OR",14107,...,NaN,147.0,144.0,952.0,4,NaN,NaN,NaN,NaN,NaN
1841294,1841294,477898,2019-10-01,AA,N824AW,2210,13930,ORD,"Chicago, IL",13198,...,NaN,89.0,80.0,403.0,2,NaN,NaN,NaN,NaN,NaN
1841295,1841295,92820,2019-10-01,MQ,N663AR,4193,14730,SDF,"Louisville, KY",13930,...,NaN,94.0,145.0,286.0,2,0.0,0.0,45.0,0.0,0.0
1841296,1841296,273436,2019-10-01,AA,N987AM,2264,10721,BOS,"Boston, MA",13930,...,NaN,172.0,163.0,867.0,4,NaN,NaN,NaN,NaN,NaN
1841297,1841297,273409,2019-10-01,AA,N982VJ,2262,11057,CLT,"Charlotte, NC",14679,...,NaN,295.0,294.0,2077.0,9,NaN,NaN,NaN,NaN,NaN

In [34]:
df.reset_index(inplace=True,drop=True) # RESET THE INDEX
df.head(3)

,Unnamed: 0.1,Unnamed: 0,DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1847036,428715,2019-10-01,OO,N750SK,3065,11603,EUG,"Eugene, OR",14107,...,NaN,147.0,144.0,952.0,4,NaN,NaN,NaN,NaN,NaN
1,1841294,477898,2019-10-01,AA,N824AW,2210,13930,ORD,"Chicago, IL",13198,...,NaN,89.0,80.0,403.0,2,NaN,NaN,NaN,NaN,NaN
2,1841295,92820,2019-10-01,MQ,N663AR,4193,14730,SDF,"Louisville, KY",13930,...,NaN,94.0,145.0,286.0,2,0.0,0.0,45.0,0.0,0.0

Merging Flight Report Dataset and merged Weather dataset. (nwdf = df+ weather_airport)

In [35]:
df['DATE'] = pd.to_datetime(df['DATE']) # date to datetime datatype
nwdf=pd.merge(df,weather_airport,how='left',on=['DATE','ORIGIN_AIRPORT_ID'])
nwdf.info()
nwdf.head()
#df.info()
#weather_airport.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3694073 entries, 0 to 3694072
Data columns (total 41 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0.1          int64
 1   Unnamed: 0            int64
 2   DATE                  datetime64[ns]
 3   OP_UNIQUE_CARRIER     object
 4   TAIL_NUM              object
 5   OP_CARRIER_FL_NUM     int64
 6   ORIGIN_AIRPORT_ID     int64
 7   ORIGIN                object
 8   ORIGIN_CITY_NAME      object
 9   DEST_AIRPORT_ID       int64
 10  DEST                  object
 11  DEST_CITY_NAME        object
 12  CRS_DEP_TIME          int64
 13  DEP_TIME              float64
 14  DEP_DELAY_NEW         float64
 15  DEP_DEL15             float64
 16  DEP_TIME_BLK          object
 17  CRS_ARR_TIME          int64
 18  ARR_TIME              float64
 19  ARR_DELAY_NEW         float64
 20  ARR_TIME_BLK          object
 21  CANCELLED             float64
 22  CANCELLATION_CODE     object
 23  CRS_ELAPSED_TIME      float64
 24  ACTUAL_ELAPSED_TIME   float64
 25  DISTANCE              float64
 26  DISTANCE_GROUP        int64
 27  CARRIER_DELAY         float64
 28  WEATHER_DELAY         float64
 29  NAS_DELAY             float64
 30  SECURITY_DELAY        float64
 31  LATE_AIRCRAFT_DELAY   float64
 32  AWND                  float64
 33  PRCP                  float64
 34  SNOW                  float64
 35  SNWD                  float64
 36  TAVG                  float64
 37  TMAX                  float64
 38  TOBS                  float64
 39  WT11                  float64
 40  DISPLAY_AIRPORT_NAME  object
dtypes: datetime64[ns](1), float64(22), int64(8), object(10)
memory usage: 1.2+ GB

,Unnamed: 0.1,Unnamed: 0,DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,LATE_AIRCRAFT_DELAY,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TOBS,WT11,DISPLAY_AIRPORT_NAME
0,1847036,428715,2019-10-01,OO,N750SK,3065,11603,EUG,"Eugene, OR",14107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1841294,477898,2019-10-01,AA,N824AW,2210,13930,ORD,"Chicago, IL",13198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1841295,92820,2019-10-01,MQ,N663AR,4193,14730,SDF,"Louisville, KY",13930,...,0.0,6.93,0.00,0.0,0.0,28.0,34.0,NaN,NaN,Standiford Field
3,1841296,273436,2019-10-01,AA,N987AM,2264,10721,BOS,"Boston, MA",13930,...,NaN,11.63,0.05,0.0,NaN,62.0,72.0,NaN,NaN,Logan International
4,1841297,273409,2019-10-01,AA,N982VJ,2262,11057,CLT,"Charlotte, NC",14679,...,NaN,3.80,0.00,0.0,0.0,81.0,92.0,NaN,NaN,Douglas Municipal

Merged Flight report (nwdf) Observations
The Airport names can be replaced by latitude and longitude in formation available in the dataset,'AIRPORT_COORDINATES.csv'. Further reading the data.

In [36]:
latlon=pd.read_csv("C:\\Users\\sachi\\Downloads\\archive (5)\\raw_data\\Ontimerepclean\\AIRPORT_COORDINATES.csv")
latlon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18133 entries, 0 to 18132
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORIGIN_AIRPORT_ID     18133 non-null  int64
 1   DISPLAY_AIRPORT_NAME  18133 non-null  object
 2   LATITUDE              18132 non-null  float64
 3   LONGITUDE             18132 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 566.8+ KB

Deleting Duplicates from latlon

In [37]:
latlon[latlon['ORIGIN_AIRPORT_ID'].duplicated()] # LIST OF DUPLICATED VALUES

       ORIGIN_AIRPORT_ID           DISPLAY_AIRPORT_NAME   LATITUDE   LONGITUDE
9                  10010                Columbia County  42.291389  -73.710278
11                 10011              Grand Canyon West  35.986111 -113.816944
12                 10011              Grand Canyon West  35.990278 -113.816389
13                 10011              Grand Canyon West  35.986111 -113.816944
17                 10014                     Blair Lake  64.363611 -147.363889
...                  ...                            ...        ...         ...
18049              16833  McMurdo Station Phoenix Field -77.956667  166.757778
18050              16833  McMurdo Station Phoenix Field -77.956667  166.755833
18072              16854                   Beja Airport  38.078889   -7.931111
18093              16874   Beijing Daxing International  39.499722  116.417500
18105              16885                        Macklin  52.342778 -109.918889

[11560 rows x 4 columns]

In [38]:
latlon=latlon.drop_duplicates(subset='ORIGIN_AIRPORT_ID',keep='first')
latlon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6573 entries, 0 to 18132
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORIGIN_AIRPORT_ID     6573 non-null   int64
 1   DISPLAY_AIRPORT_NAME  6573 non-null   object
 2   LATITUDE              6572 non-null   float64
 3   LONGITUDE             6572 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 256.8+ KB

Merging the Airport Coordinates and merged Flight Report Dataset (nwdf = nwdf + latlon)

In [39]:
nwdf=pd.merge(nwdf,latlon,how='left',on=['ORIGIN_AIRPORT_ID'])
nwdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3694073 entries, 0 to 3694072
Data columns (total 44 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0.1            int64
 1   Unnamed: 0              int64
 2   DATE                    datetime64[ns]
 3   OP_UNIQUE_CARRIER       object
 4   TAIL_NUM                object
 5   OP_CARRIER_FL_NUM       int64
 6   ORIGIN_AIRPORT_ID       int64
 7   ORIGIN                  object
 8   ORIGIN_CITY_NAME        object
 9   DEST_AIRPORT_ID         int64
 10  DEST                    object
 11  DEST_CITY_NAME          object
 12  CRS_DEP_TIME            int64
 13  DEP_TIME                float64
 14  DEP_DELAY_NEW           float64
 15  DEP_DEL15               float64
 16  DEP_TIME_BLK            object
 17  CRS_ARR_TIME            int64
 18  ARR_TIME                float64
 19  ARR_DELAY_NEW           float64
 20  ARR_TIME_BLK            object
 21  CANCELLED               float64
 22  CANCELLATION_CODE       object
 23  CRS_ELAPSED_TIME        float64
 24  ACTUAL_ELAPSED_TIME     float64
 25  DISTANCE                float64
 26  DISTANCE_GROUP          int64
 27  CARRIER_DELAY           float64
 28  WEATHER_DELAY           float64
 29  NAS_DELAY               float64
 30  SECURITY_DELAY          float64
 31  LATE_AIRCRAFT_DELAY     float64
 32  AWND                    float64
 33  PRCP                    float64
 34  SNOW                    float64
 35  SNWD                    float64
 36  TAVG                    float64
 37  TMAX                    float64
 38  TOBS                    float64
 39  WT11                    float64
 40  DISPLAY_AIRPORT_NAME_x  object
 41  DISPLAY_AIRPORT_NAME_y  object
 42  LATITUDE                float64
 43  LONGITUDE               float64
dtypes: datetime64[ns](1), float64(24), int64(8), object(11)
memory usage: 1.2+ GB

DISPLAY AIRPORT NAMES_X, DISPLAY AIRPORT NAMES_Y are created. they need to be merged

In [40]:
nwdf.head(50).tail(5)

,Unnamed: 0.1,Unnamed: 0,DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,SNOW,SNWD,TAVG,TMAX,TOBS,WT11,DISPLAY_AIRPORT_NAME_x,DISPLAY_AIRPORT_NAME_y,LATITUDE,LONGITUDE
45,1841271,477661,2019-10-01,AA,N946AN,2203,13487,MSP,"Minneapolis, MN",11298,...,NaN,NaN,51.0,64.0,NaN,NaN,Midland Regional Air Trml,Minneapolis-St Paul International,44.886111,-93.217778
46,1841272,273158,2019-10-01,AA,N979NN,2255,11298,DFW,"Dallas/Fort Worth, TX",14908,...,NaN,NaN,NaN,94.0,NaN,NaN,Dallas Fort Worth Regional,Dallas Fort Worth Regional,32.894444,-97.029722
47,1841273,502380,2019-10-01,NK,N521NK,828,11697,FLL,"Fort Lauderdale, FL",10431,...,NaN,NaN,82.0,88.0,NaN,NaN,Fort Lauderdale-Hollywood International,Fort Lauderdale-Hollywood International,26.074167,-80.151667
48,1841323,477206,2019-10-01,AA,N140AN,2191,13303,MIA,"Miami, FL",11298,...,NaN,NaN,83.0,89.0,NaN,NaN,Miami International,Miami International,25.792500,-80.286111
49,1841274,273127,2019-10-01,AA,N136AN,2254,12892,LAX,"Los Angeles, CA",11298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles International,33.942500,-118.408056

Correcting the Airport Name ('DISPLAY_AIRPORT_NAME')

In [41]:
nwdf['DISPLAY_AIRPORT_NAME']=nwdf['DISPLAY_AIRPORT_NAME_y'].fillna('')

nwdf.drop(['DISPLAY_AIRPORT_NAME_x','DISPLAY_AIRPORT_NAME_y'],axis=1,inplace=True)

In [42]:
nwdf.head(60).tail(10)

,Unnamed: 0.1,Unnamed: 0,DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,PRCP,SNOW,SNWD,TAVG,TMAX,TOBS,WT11,LATITUDE,LONGITUDE,DISPLAY_AIRPORT_NAME
50,1841276,273096,2019-10-01,AA,N992AN,2253,13303,MIA,"Miami, FL",12953,...,0.02,NaN,NaN,83.0,89.0,NaN,NaN,25.792500,-80.286111,Miami International
51,1841277,477599,2019-10-01,AA,N160AN,2202,12892,LAX,"Los Angeles, CA",10693,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.942500,-118.408056,Los Angeles International
52,1841278,52941,2019-10-01,HA,N485HA,181,12402,ITO,"Hilo, HI",12173,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.723611,-155.058056,General Lyman Field
53,1841279,273065,2019-10-01,AA,N909NN,2252,11540,ELP,"El Paso, TX",11298,...,0.08,0.0,0.0,48.0,58.0,NaN,NaN,31.806667,-106.377222,El Paso International
54,1841280,92880,2019-10-01,MQ,N254NN,4197,13930,ORD,"Chicago, IL",11066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.978056,-87.906111,Chicago O'Hare International
55,1841281,52910,2019-10-01,HA,N490HA,175,13830,OGG,"Kahului, HI",12173,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.900556,-156.433611,Kahului Airport
56,1841282,502256,2019-10-01,NK,N637NK,816,12892,LAX,"Los Angeles, CA",12889,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.942500,-118.408056,Los Angeles International
57,1841283,273551,2019-10-01,AA,N997AA,2268,12478,JFK,"New York, NY",13303,...,0.00,0.0,0.0,70.0,82.0,NaN,NaN,40.638611,-73.776944,John F. Kennedy International
58,1841284,477991,2019-10-01,AA,N306NY,2212,11298,DFW,"Dallas/Fort Worth, TX",12266,...,0.00,NaN,NaN,NaN,94.0,NaN,NaN,32.894444,-97.029722,Dallas Fort Worth Regional
59,1841285,273525,2019-10-01,AA,N876NN,2267,11298,DFW,"Dallas/Fort Worth, TX",13198,...,0.00,NaN,NaN,NaN,94.0,NaN,NaN,32.894444,-97.029722,Dallas Fort Worth Regional

The Employees in charge of passenger Handling and Aircraft Traffic Control for each Airline can give an idea of how busy and vast an airline operation is and can be included. This data is available in 'P10_Employees.csv'.

# #Study Dataset of Airline Employees(emp)

In [43]:
emp=pd.read_csv("C:\\Users\\sachi\\Downloads\\archive (5)\\raw_data\\Ontimerepclean\\P10_EMPLOYEES.csv")
emp.info()
emp.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   YEAR                      89 non-null     int64
 1   AIRLINE_ID                89 non-null     int64
 2   OP_UNIQUE_CARRIER         89 non-null     object
 3   UNIQUE_CARRIER_NAME       89 non-null     object
 4   CARRIER                   89 non-null     object
 5   CARRIER_NAME              89 non-null     object
 6   ENTITY                    89 non-null     object
 7   GENERAL_MANAGE            89 non-null     int64
 8   PILOTS_COPILOTS           89 non-null     int64
 9   OTHER_FLT_PERS            89 non-null     int64
 10  PASS_GEN_SVC_ADMIN        89 non-null     int64
 11  MAINTENANCE               89 non-null     int64
 12  ARCFT_TRAF_HANDLING_GRP1  89 non-null     int64
 13  GEN_ARCFT_TRAF_HANDLING   89 non-null     int64
 14  AIRCRAFT_CONTROL          89 non-null     int64
 15  PASSENGER_HANDLING        89 non-null     int64
 16  CARGO_HANDLING            89 non-null     int64
 17  TRAINEES_INTRUCTOR        89 non-null     int64
 18  STATISTICAL               89 non-null     int64
 19  TRAFFIC_SOLICITERS        89 non-null     int64
 20  OTHER                     89 non-null     int64
 21  TRANSPORT_RELATED         89 non-null     int64
 22  TOTAL                     89 non-null     int64
dtypes: int64(18), object(5)
memory usage: 16.1+ KB

,YEAR,AIRLINE_ID,OP_UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,ENTITY,GENERAL_MANAGE,PILOTS_COPILOTS,OTHER_FLT_PERS,...,GEN_ARCFT_TRAF_HANDLING,AIRCRAFT_CONTROL,PASSENGER_HANDLING,CARGO_HANDLING,TRAINEES_INTRUCTOR,STATISTICAL,TRAFFIC_SOLICITERS,OTHER,TRANSPORT_RELATED,TOTAL
0,2019,21352,0WQ,Avjet Corporation,0WQ,Avjet Corporation,D,4,53,6,...,0,0,0,3,1,18,0,7,0,161
1,2019,21492,1BQ,"Eastern Airlines f/k/a Dynamic Airways, LLC",1BQ,"Eastern Airlines f/k/a Dynamic Airways, LLC",I,14,50,0,...,0,0,0,0,1,13,0,3,0,161
2,2019,21712,2HQ,Elite Airways LLC,2HQ,Elite Airways LLC,D,9,32,0,...,0,0,0,0,0,7,0,0,0,123

Checking for Duplicates

In [44]:
print(emp['OP_UNIQUE_CARRIER'].nunique())
print(emp['AIRLINE_ID'].nunique())
emp[emp['OP_UNIQUE_CARRIER'].duplicated()].head()

49
49

,YEAR,AIRLINE_ID,OP_UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,ENTITY,GENERAL_MANAGE,PILOTS_COPILOTS,OTHER_FLT_PERS,...,GEN_ARCFT_TRAF_HANDLING,AIRCRAFT_CONTROL,PASSENGER_HANDLING,CARGO_HANDLING,TRAINEES_INTRUCTOR,STATISTICAL,TRAFFIC_SOLICITERS,OTHER,TRANSPORT_RELATED,TOTAL
6,2019,19917,5X,United Parcel Service,5X,United Parcel Service,D,0,1882,0,...,77,90,0,0,108,405,10,64,0,4019
7,2019,19917,5X,United Parcel Service,5X,United Parcel Service,L,0,143,0,...,6,7,0,0,8,31,1,5,0,306
8,2019,19917,5X,United Parcel Service,5X,United Parcel Service,P,0,455,0,...,19,22,0,0,26,98,2,16,0,972
10,2019,20007,5Y,Atlas Air Inc.,5Y,Atlas Air Inc.,I,13,62,5,...,0,2,0,11,1,2,1,1,0,117
12,2019,19874,8C,Air Transport International,8C,Air Transport International,D,48,316,0,...,0,23,0,11,6,30,2,68,0,693

In [45]:
emp.groupby('ENTITY').count()['CARRIER']

ENTITY
A     7
D    45
I    12
L    17
P     7
S     1
Name: CARRIER, dtype: int64

Employee Data - Columns and Observations.
The dataset 'P10_EMPLOYEE.csv' gives the details of the number of employees in different sections of various airlines. The columns are:

AIRLINE_ID         = Airport ID
OP_UNIQUE_CARRIER  = Carrier code, matches to OP_UNIQUE_CARRIER in other files
UNIQUE_CARRIER_NAME= Carrier name, matches to UNIQUE_CARRIER_NAME in other files
ENTITY             = Different Departments (D,L,P,I,A,S etc)
GENERAL_MANAGER    = General managers
PILOTS_COPILOTS    = Pilots/Copilots
OTHER_FLT_PERS     = Other flight personnel
PASS_GEN_SVC_ADMIN = Passenger/General Services & Administration
MAINTENANCE        = Maintenance Employees

ARCFT_TRAF_HANDLING_GRP1 = Aircraft Traffic Handling Group1 Employees
GEN_ARCFT_TRAF_HANDLING  = General Aircraft Traffic Handling Employees
AIRCRAFT_CONTROL         = Aircraft Control Employees
PASSENGER_HANDLING       = Passenger Handling Employees
CARGO_HANDLING           = Cargo Handling Employees
TRAINEES_INTRUCTOR       = Trainees and Instructor
STATISTICAL              = Statistical Employees
TRAFFIC_SOLICITERS       = Traffic Soliciters

OTHER             = Other Employees
TRANSPORT_RELATED = Transport Related Employees
TOTAL             = Total employees

Many fields are irrelevant. However the AirTraffic and Passenger Handling fields can be considered.
There are no null values. There are data for same airlines for different entities given as separate entries.
These may be added together to get total employees in each airline for various sections.

## Getting Total Passenger Handling and Aircraft Traffic Employee Count

In [46]:
emp1 = pd.DataFrame(emp.groupby(['OP_UNIQUE_CARRIER']).sum()[['PASSENGER_HANDLING','PASS_GEN_SVC_ADMIN'
                                                              ,'ARCFT_TRAF_HANDLING_GRP1','GEN_ARCFT_TRAF_HANDLING'
                                                            ]]).reset_index()
emp1.head()

,OP_UNIQUE_CARRIER,PASSENGER_HANDLING,PASS_GEN_SVC_ADMIN,ARCFT_TRAF_HANDLING_GRP1,GEN_ARCFT_TRAF_HANDLING
0,0WQ,0,19,21,0
1,1BQ,0,41,21,0
2,2HQ,0,24,19,0
3,3EQ,0,32,6,0
4,5V,0,0,90,0

## Merging Employee Data and Merged Flight Report Dataset. (nwdf=nwdf+emp)

In [47]:
nwdf=pd.merge(nwdf,emp1,how='left',on=['OP_UNIQUE_CARRIER'])
nwdf.info()
nwdf.iloc[:,39:].head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3694073 entries, 0 to 3694072
Data columns (total 47 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Unnamed: 0.1              int64
 1   Unnamed: 0                int64
 2   DATE                      datetime64[ns]
 3   OP_UNIQUE_CARRIER         object
 4   TAIL_NUM                  object
 5   OP_CARRIER_FL_NUM         int64
 6   ORIGIN_AIRPORT_ID         int64
 7   ORIGIN                    object
 8   ORIGIN_CITY_NAME          object
 9   DEST_AIRPORT_ID           int64
 10  DEST                      object
 11  DEST_CITY_NAME            object
 12  CRS_DEP_TIME              int64
 13  DEP_TIME                  float64
 14  DEP_DELAY_NEW             float64
 15  DEP_DEL15                 float64
 16  DEP_TIME_BLK              object
 17  CRS_ARR_TIME              int64
 18  ARR_TIME                  float64
 19  ARR_DELAY_NEW             float64
 20  ARR_TIME_BLK              object
 21  CANCELLED                 float64
 22  CANCELLATION_CODE         object
 23  CRS_ELAPSED_TIME          float64
 24  ACTUAL_ELAPSED_TIME       float64
 25  DISTANCE                  float64
 26  DISTANCE_GROUP            int64
 27  CARRIER_DELAY             float64
 28  WEATHER_DELAY             float64
 29  NAS_DELAY                 float64
 30  SECURITY_DELAY            float64
 31  LATE_AIRCRAFT_DELAY       float64
 32  AWND                      float64
 33  PRCP                      float64
 34  SNOW                      float64
 35  SNWD                      float64
 36  TAVG                      float64
 37  TMAX                      float64
 38  TOBS                      float64
 39  WT11                      float64
 40  LATITUDE                  float64
 41  LONGITUDE                 float64
 42  DISPLAY_AIRPORT_NAME      object
 43  PASSENGER_HANDLING        int64
 44  PASS_GEN_SVC_ADMIN        int64
 45  ARCFT_TRAF_HANDLING_GRP1  int64
 46  GEN_ARCFT_TRAF_HANDLING   int64
dtypes: datetime64[ns](1), float64(24), int64(12), object(10)
memory usage: 1.3+ GB

,WT11,LATITUDE,LONGITUDE,DISPLAY_AIRPORT_NAME,PASSENGER_HANDLING,PASS_GEN_SVC_ADMIN,ARCFT_TRAF_HANDLING_GRP1,GEN_ARCFT_TRAF_HANDLING
0,NaN,44.120833,-123.217500,Mahlon Sweet Field,1425,4126,0,185
1,NaN,41.978056,-87.906111,Chicago O'Hare International,13841,24986,0,0
2,NaN,38.179722,-85.738611,Standiford Field,5037,1545,0,3896
3,NaN,42.363611,-71.006111,Logan International,13841,24986,0,0
4,NaN,35.219167,-80.935833,Douglas Municipal,13841,24986,0,0

## Reading the Aircraft Data (aircraft)

In [48]:
aircraft=pd.read_csv("C:\\Users\\sachi\\Downloads\\archive (5)\\raw_data\\Ontimerepclean\\B43_AIRCRAFT_INVENTORY.csv",
                     encoding = 'unicode_escape', engine ='python')

aircraft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7383 entries, 0 to 7382
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MANUFACTURE_YEAR  7383 non-null   int64
 1   TAIL_NUM          7383 non-null   object
 2   NUMBER_OF_SEATS   7376 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 173.2+ KB

In [49]:
print(aircraft['TAIL_NUM'].nunique()) # CHECKING FOR DUPLICATES
aircraft[aircraft['TAIL_NUM'].duplicated()]

7361

      MANUFACTURE_YEAR TAIL_NUM  NUMBER_OF_SEATS
845               1993   N399CM              0.0
1213              1997   N1439A              0.0
1547              1999   N1049A              0.0
1733              1999   N781CA             50.0
2086              2000   N783CA             50.0
2108              2000   N854AS             50.0
2110              2000   N856AS             50.0
2112              2000   N860AS             50.0
2512              2001   N862AS             50.0
2516              2001   N868AS             50.0
2521              2001   N881AS             50.0
2523              2001   N884AS             50.0
2537              2001   N870AS             50.0
2538              2001   N871AS             50.0
2859              2002   N903EV             50.0
2861              2002   N905EV             50.0
2864              2002   N908EV             50.0
2865              2002   N909EV             50.0
2903              2002   N416MC              0.0
4519              2008   N235JQ             76.0
5725              2014   N856GT              0.0
6746              2017   N877AS             50.0

In [50]:
aircraft[aircraft['TAIL_NUM']=='N877AS']

      MANUFACTURE_YEAR TAIL_NUM  NUMBER_OF_SEATS
2460              2001   N877AS             50.0
6746              2017   N877AS             50.0

The same aircraft is manufactured twice in different years.

In [51]:
aircraft=aircraft.drop_duplicates(subset='TAIL_NUM',keep='first') # DROPPING THE DUPLICATES
aircraft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7361 entries, 0 to 7382
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MANUFACTURE_YEAR  7361 non-null   int64
 1   TAIL_NUM          7361 non-null   object
 2   NUMBER_OF_SEATS   7354 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 230.0+ KB

In [52]:
aircraft[aircraft['TAIL_NUM']=='N877AS']

      MANUFACTURE_YEAR TAIL_NUM  NUMBER_OF_SEATS
2460              2001   N877AS             50.0

## Merging Aircraft Data with Flight report Dataset. (nwdf=nwdf+aircraft)

In [53]:
nwdf=pd.merge(nwdf,aircraft,how='left',on=['TAIL_NUM'])
nwdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3694073 entries, 0 to 3694072
Data columns (total 49 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Unnamed: 0.1              int64
 1   Unnamed: 0                int64
 2   DATE                      datetime64[ns]
 3   OP_UNIQUE_CARRIER         object
 4   TAIL_NUM                  object
 5   OP_CARRIER_FL_NUM         int64
 6   ORIGIN_AIRPORT_ID         int64
 7   ORIGIN                    object
 8   ORIGIN_CITY_NAME          object
 9   DEST_AIRPORT_ID           int64
 10  DEST                      object
 11  DEST_CITY_NAME            object
 12  CRS_DEP_TIME              int64
 13  DEP_TIME                  float64
 14  DEP_DELAY_NEW             float64
 15  DEP_DEL15                 float64
 16  DEP_TIME_BLK              object
 17  CRS_ARR_TIME              int64
 18  ARR_TIME                  float64
 19  ARR_DELAY_NEW             float64
 20  ARR_TIME_BLK              object
 21  CANCELLED                 float64
 22  CANCELLATION_CODE         object
 23  CRS_ELAPSED_TIME          float64
 24  ACTUAL_ELAPSED_TIME       float64
 25  DISTANCE                  float64
 26  DISTANCE_GROUP            int64
 27  CARRIER_DELAY             float64
 28  WEATHER_DELAY             float64
 29  NAS_DELAY                 float64
 30  SECURITY_DELAY            float64
 31  LATE_AIRCRAFT_DELAY       float64
 32  AWND                      float64
 33  PRCP                      float64
 34  SNOW                      float64
 35  SNWD                      float64
 36  TAVG                      float64
 37  TMAX                      float64
 38  TOBS                      float64
 39  WT11                      float64
 40  LATITUDE                  float64
 41  LONGITUDE                 float64
 42  DISPLAY_AIRPORT_NAME      object
 43  PASSENGER_HANDLING        int64
 44  PASS_GEN_SVC_ADMIN        int64
 45  ARCFT_TRAF_HANDLING_GRP1  int64
 46  GEN_ARCFT_TRAF_HANDLING   int64
 47  MANUFACTURE_YEAR          float64
 48  NUMBER_OF_SEATS           float64
dtypes: datetime64[ns](1), float64(26), int64(12), object(10)
memory usage: 1.4+ GB

## Reading the Airport Activity Summary for Airlines

In [54]:
summary=pd.read_csv("C:\\Users\\sachi\\Downloads\\archive (5)\\raw_data\\Ontimerepclean\\merged_T3_AIR_CARRIER_SUMMARY_AIRPORT_ACTIVITY.csv")

summary.info()
summary.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33510 entries, 0 to 33509
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              33510 non-null  int64
 1   OP_UNIQUE_CARRIER       33510 non-null  object
 2   CARRIER_NAME            33510 non-null  object
 3   ORIGIN_AIRPORT_ID       33510 non-null  int64
 4   SERVICE_CLASS           33510 non-null  object
 5   REV_ACRFT_DEP_PERF_510  33509 non-null  float64
 6   REV_PAX_ENP_110         31526 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.8+ MB

,Unnamed: 0,OP_UNIQUE_CARRIER,CARRIER_NAME,ORIGIN_AIRPORT_ID,SERVICE_CLASS,REV_ACRFT_DEP_PERF_510,REV_PAX_ENP_110
33505,33505,ZW,Air Wisconsin Airlines Corp,11721,K,119.0,4463.0
33506,33506,ZW,Air Wisconsin Airlines Corp,10469,K,160.0,5095.0
33507,33507,ZW,Air Wisconsin Airlines Corp,12884,K,159.0,5165.0
33508,33508,ZW,Air Wisconsin Airlines Corp,15380,K,118.0,4011.0
33509,33509,ZW,Air Wisconsin Airlines Corp,15624,K,4.0,91.0

In [55]:
summary.drop(['Unnamed: 0'],axis=1,inplace=True)
summary.info()
summary.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33510 entries, 0 to 33509
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   OP_UNIQUE_CARRIER       33510 non-null  object
 1   CARRIER_NAME            33510 non-null  object
 2   ORIGIN_AIRPORT_ID       33510 non-null  int64
 3   SERVICE_CLASS           33510 non-null  object
 4   REV_ACRFT_DEP_PERF_510  33509 non-null  float64
 5   REV_PAX_ENP_110         31526 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.5+ MB

,OP_UNIQUE_CARRIER,CARRIER_NAME,ORIGIN_AIRPORT_ID,SERVICE_CLASS,REV_ACRFT_DEP_PERF_510,REV_PAX_ENP_110
33505,ZW,Air Wisconsin Airlines Corp,11721,K,119.0,4463.0
33506,ZW,Air Wisconsin Airlines Corp,10469,K,160.0,5095.0
33507,ZW,Air Wisconsin Airlines Corp,12884,K,159.0,5165.0
33508,ZW,Air Wisconsin Airlines Corp,15380,K,118.0,4011.0
33509,ZW,Air Wisconsin Airlines Corp,15624,K,4.0,91.0

In [56]:
summary.groupby(['OP_UNIQUE_CARRIER']).count().head()

,CARRIER_NAME,ORIGIN_AIRPORT_ID,SERVICE_CLASS,REV_ACRFT_DEP_PERF_510,REV_PAX_ENP_110
OP_UNIQUE_CARRIER,,,,,
04Q,664,664,664,664,664
09Q,420,420,420,420,420
0WQ,129,129,129,129,129
1AQ,80,80,80,80,79
1BQ,30,30,30,30,30

In [57]:
summary[summary['REV_PAX_ENP_110'].isnull()]

,OP_UNIQUE_CARRIER,CARRIER_NAME,ORIGIN_AIRPORT_ID,SERVICE_CLASS,REV_ACRFT_DEP_PERF_510,REV_PAX_ENP_110
941,1AQ,Via Airlines d/b/a Charter Air Transport,14683,K,1.0,NaN
1892,2LQ,Tropic Ocean Airways LLC,13469,V,1.0,NaN
1898,2LQ,Tropic Ocean Airways LLC,14761,V,1.0,NaN
1903,2LQ,Tropic Ocean Airways LLC,15249,V,1.0,NaN
1910,2LQ,Tropic Ocean Airways LLC,13501,V,1.0,NaN
...,...,...,...,...,...,...
33412,Z3,"Bidzy Ta Hot Aana, Inc. d/b/a Tanana Air Service",14119,V,1.0,NaN
33413,Z3,"Bidzy Ta Hot Aana, Inc. d/b/a Tanana Air Service",15385,V,1.0,NaN
33414,Z3,"Bidzy Ta Hot Aana, Inc. d/b/a Tanana Air Service",11053,V,1.0,NaN
33417,Z3,"Bidzy Ta Hot Aana, Inc. d/b/a Tanana Air Service",12671,V,2.0,NaN
33421,Z3,"Bidzy Ta Hot Aana, Inc. d/b/a Tanana Air Service",12321,V,1.0,NaN

## Airport Summary - Observations

There are 113 Unique airlines and their operation details in different airports in this datasets.

The columns are: OP_UNIQUE_CARRIER = Carrier code, matches to OP_UNIQUE_CARRIER in other files ORIGIN_AIRPORT_ID = Airport ID, matches to ORIGIN_AIRPORT_ID in other files SERVICE_CLASS = Service class of flight (required in download) REV_ACRFT_DEP_PERF_510 = Departures performed for year 2020 REV_PAX_ENP_110 = Passengers enplaned for year 2020

There are null values

Checking for duplicates

In [58]:
summary[summary.duplicated()]
dup=summary[summary.duplicated(['OP_UNIQUE_CARRIER','ORIGIN_AIRPORT_ID'])]
dup

,OP_UNIQUE_CARRIER,CARRIER_NAME,ORIGIN_AIRPORT_ID,SERVICE_CLASS,REV_ACRFT_DEP_PERF_510,REV_PAX_ENP_110
13,04Q,Tradewind Aviation,15024,V,7.0,23.0
53,04Q,Tradewind Aviation,14843,V,149.0,678.0
100,04Q,Tradewind Aviation,15024,K,11.0,51.0
102,04Q,Tradewind Aviation,14843,K,390.0,2017.0
103,04Q,Tradewind Aviation,12197,K,161.0,898.0
...,...,...,...,...,...,...
33505,ZW,Air Wisconsin Airlines Corp,11721,K,119.0,4463.0
33506,ZW,Air Wisconsin Airlines Corp,10469,K,160.0,5095.0
33507,ZW,Air Wisconsin Airlines Corp,12884,K,159.0,5165.0
33508,ZW,Air Wisconsin Airlines Corp,15380,K,118.0,4011.0
33509,ZW,Air Wisconsin Airlines Corp,15624,K,4.0,91.0

In [59]:
summary[(summary['OP_UNIQUE_CARRIER']=='04Q') & (summary['ORIGIN_AIRPORT_ID']==14843)]
summary=summary.drop_duplicates(subset=['OP_UNIQUE_CARRIER','ORIGIN_AIRPORT_ID'],keep='first')
summary[(summary['OP_UNIQUE_CARRIER']=='04Q') & (summary['ORIGIN_AIRPORT_ID']==14843)]

,OP_UNIQUE_CARRIER,CARRIER_NAME,ORIGIN_AIRPORT_ID,SERVICE_CLASS,REV_ACRFT_DEP_PERF_510,REV_PAX_ENP_110
1,04Q,Tradewind Aviation,14843,K,677.0,3649.0

## Merging aircraft summary data to the Flight Report (nwdf=nwdf+summary)

In [60]:
nwdf=pd.merge(nwdf,summary,how='left',on=['OP_UNIQUE_CARRIER','ORIGIN_AIRPORT_ID'])
nwdf.info()
nwdf.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3694073 entries, 0 to 3694072
Data columns (total 53 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Unnamed: 0.1              int64
 1   Unnamed: 0                int64
 2   DATE                      datetime64[ns]
 3   OP_UNIQUE_CARRIER         object
 4   TAIL_NUM                  object
 5   OP_CARRIER_FL_NUM         int64
 6   ORIGIN_AIRPORT_ID         int64
 7   ORIGIN                    object
 8   ORIGIN_CITY_NAME          object
 9   DEST_AIRPORT_ID           int64
 10  DEST                      object
 11  DEST_CITY_NAME            object
 12  CRS_DEP_TIME              int64
 13  DEP_TIME                  float64
 14  DEP_DELAY_NEW             float64
 15  DEP_DEL15                 float64
 16  DEP_TIME_BLK              object
 17  CRS_ARR_TIME              int64
 18  ARR_TIME                  float64
 19  ARR_DELAY_NEW             float64
 20  ARR_TIME_BLK              object
 21  CANCELLED                 float64
 22  CANCELLATION_CODE         object
 23  CRS_ELAPSED_TIME          float64
 24  ACTUAL_ELAPSED_TIME       float64
 25  DISTANCE                  float64
 26  DISTANCE_GROUP            int64
 27  CARRIER_DELAY             float64
 28  WEATHER_DELAY             float64
 29  NAS_DELAY                 float64
 30  SECURITY_DELAY            float64
 31  LATE_AIRCRAFT_DELAY       float64
 32  AWND                      float64
 33  PRCP                      float64
 34  SNOW                      float64
 35  SNWD                      float64
 36  TAVG                      float64
 37  TMAX                      float64
 38  TOBS                      float64
 39  WT11                      float64
 40  LATITUDE                  float64
 41  LONGITUDE                 float64
 42  DISPLAY_AIRPORT_NAME      object
 43  PASSENGER_HANDLING        int64
 44  PASS_GEN_SVC_ADMIN        int64
 45  ARCFT_TRAF_HANDLING_GRP1  int64
 46  GEN_ARCFT_TRAF_HANDLING   int64
 47  MANUFACTURE_YEAR          float64
 48  NUMBER_OF_SEATS           float64
 49  CARRIER_NAME              object
 50  SERVICE_CLASS             object
 51  REV_ACRFT_DEP_PERF_510    float64
 52  REV_PAX_ENP_110           float64
dtypes: datetime64[ns](1), float64(28), int64(12), object(12)
memory usage: 1.5+ GB

,Unnamed: 0.1,Unnamed: 0,DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,PASSENGER_HANDLING,PASS_GEN_SVC_ADMIN,ARCFT_TRAF_HANDLING_GRP1,GEN_ARCFT_TRAF_HANDLING,MANUFACTURE_YEAR,NUMBER_OF_SEATS,CARRIER_NAME,SERVICE_CLASS,REV_ACRFT_DEP_PERF_510,REV_PAX_ENP_110
0,1847036,428715,2019-10-01,OO,N750SK,3065,11603,EUG,"Eugene, OR",14107,...,1425,4126,0,185,2005.0,66.0,SkyWest Airlines Inc.,K,593.0,29164.0
1,1841294,477898,2019-10-01,AA,N824AW,2210,13930,ORD,"Chicago, IL",13198,...,13841,24986,0,0,2001.0,128.0,American Airlines Inc.,K,15949.0,2147010.0
2,1841295,92820,2019-10-01,MQ,N663AR,4193,14730,SDF,"Louisville, KY",13930,...,5037,1545,0,3896,2004.0,50.0,Envoy Air,K,170.0,4724.0
3,1841296,273436,2019-10-01,AA,N987AM,2264,10721,BOS,"Boston, MA",13930,...,13841,24986,0,0,2016.0,181.0,American Airlines Inc.,K,6178.0,705299.0
4,1841297,273409,2019-10-01,AA,N982VJ,2262,11057,CLT,"Charlotte, NC",14679,...,13841,24986,0,0,2012.0,187.0,American Airlines Inc.,K,26070.0,3486638.0

In [61]:
nwdf.drop(['Unnamed: 0.1','Unnamed: 0'],axis=1,inplace=True)
nwdf.reset_index(inplace = True, drop = True)

In [62]:
nwdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3694073 entries, 0 to 3694072
Data columns (total 51 columns):
 #   Column                    Dtype
---  ------                    -----
 0   DATE                      datetime64[ns]
 1   OP_UNIQUE_CARRIER         object
 2   TAIL_NUM                  object
 3   OP_CARRIER_FL_NUM         int64
 4   ORIGIN_AIRPORT_ID         int64
 5   ORIGIN                    object
 6   ORIGIN_CITY_NAME          object
 7   DEST_AIRPORT_ID           int64
 8   DEST                      object
 9   DEST_CITY_NAME            object
 10  CRS_DEP_TIME              int64
 11  DEP_TIME                  float64
 12  DEP_DELAY_NEW             float64
 13  DEP_DEL15                 float64
 14  DEP_TIME_BLK              object
 15  CRS_ARR_TIME              int64
 16  ARR_TIME                  float64
 17  ARR_DELAY_NEW             float64
 18  ARR_TIME_BLK              object
 19  CANCELLED                 float64
 20  CANCELLATION_CODE         object
 21  CRS_ELAPSED_TIME          float64
 22  ACTUAL_ELAPSED_TIME       float64
 23  DISTANCE                  float64
 24  DISTANCE_GROUP            int64
 25  CARRIER_DELAY             float64
 26  WEATHER_DELAY             float64
 27  NAS_DELAY                 float64
 28  SECURITY_DELAY            float64
 29  LATE_AIRCRAFT_DELAY       float64
 30  AWND                      float64
 31  PRCP                      float64
 32  SNOW                      float64
 33  SNWD                      float64
 34  TAVG                      float64
 35  TMAX                      float64
 36  TOBS                      float64
 37  WT11                      float64
 38  LATITUDE                  float64
 39  LONGITUDE                 float64
 40  DISPLAY_AIRPORT_NAME      object
 41  PASSENGER_HANDLING        int64
 42  PASS_GEN_SVC_ADMIN        int64
 43  ARCFT_TRAF_HANDLING_GRP1  int64
 44  GEN_ARCFT_TRAF_HANDLING   int64
 45  MANUFACTURE_YEAR          float64
 46  NUMBER_OF_SEATS           float64
 47  CARRIER_NAME              object
 48  SERVICE_CLASS             object
 49  REV_ACRFT_DEP_PERF_510    float64
 50  REV_PAX_ENP_110           float64
dtypes: datetime64[ns](1), float64(28), int64(10), object(12)
memory usage: 1.4+ GB

## saving final dataset

In [63]:
#nwdf.to_csv('C:\\Users\\sachi\\Downloads\\archive (5)\\raw_data\\Ontimerepclean\\merged-flight-dataset-2019.csv')

In [64]:
nwdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3694073 entries, 0 to 3694072
Data columns (total 51 columns):
 #   Column                    Dtype
---  ------                    -----
 0   DATE                      datetime64[ns]
 1   OP_UNIQUE_CARRIER         object
 2   TAIL_NUM                  object
 3   OP_CARRIER_FL_NUM         int64
 4   ORIGIN_AIRPORT_ID         int64
 5   ORIGIN                    object
 6   ORIGIN_CITY_NAME          object
 7   DEST_AIRPORT_ID           int64
 8   DEST                      object
 9   DEST_CITY_NAME            object
 10  CRS_DEP_TIME              int64
 11  DEP_TIME                  float64
 12  DEP_DELAY_NEW             float64
 13  DEP_DEL15                 float64
 14  DEP_TIME_BLK              object
 15  CRS_ARR_TIME              int64
 16  ARR_TIME                  float64
 17  ARR_DELAY_NEW             float64
 18  ARR_TIME_BLK              object
 19  CANCELLED                 float64
 20  CANCELLATION_CODE         object
 21  CRS_ELAPSED_TIME          float64
 22  ACTUAL_ELAPSED_TIME       float64
 23  DISTANCE                  float64
 24  DISTANCE_GROUP            int64
 25  CARRIER_DELAY             float64
 26  WEATHER_DELAY             float64
 27  NAS_DELAY                 float64
 28  SECURITY_DELAY            float64
 29  LATE_AIRCRAFT_DELAY       float64
 30  AWND                      float64
 31  PRCP                      float64
 32  SNOW                      float64
 33  SNWD                      float64
 34  TAVG                      float64
 35  TMAX                      float64
 36  TOBS                      float64
 37  WT11                      float64
 38  LATITUDE                  float64
 39  LONGITUDE                 float64
 40  DISPLAY_AIRPORT_NAME      object
 41  PASSENGER_HANDLING        int64
 42  PASS_GEN_SVC_ADMIN        int64
 43  ARCFT_TRAF_HANDLING_GRP1  int64
 44  GEN_ARCFT_TRAF_HANDLING   int64
 45  MANUFACTURE_YEAR          float64
 46  NUMBER_OF_SEATS           float64
 47  CARRIER_NAME              object
 48  SERVICE_CLASS             object
 49  REV_ACRFT_DEP_PERF_510    float64
 50  REV_PAX_ENP_110           float64
dtypes: datetime64[ns](1), float64(28), int64(10), object(12)
memory usage: 1.4+ GB

In [65]:
temp_cols=nwdf.columns.tolist()
temp_cols

['DATE',
 'OP_UNIQUE_CARRIER',
 'TAIL_NUM',
 'OP_CARRIER_FL_NUM',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN',
 'ORIGIN_CITY_NAME',
 'DEST_AIRPORT_ID',
 'DEST',
 'DEST_CITY_NAME',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY_NEW',
 'DEP_DEL15',
 'DEP_TIME_BLK',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY_NEW',
 'ARR_TIME_BLK',
 'CANCELLED',
 'CANCELLATION_CODE',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'DISTANCE',
 'DISTANCE_GROUP',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'AWND',
 'PRCP',
 'SNOW',
 'SNWD',
 'TAVG',
 'TMAX',
 'TOBS',
 'WT11',
 'LATITUDE',
 'LONGITUDE',
 'DISPLAY_AIRPORT_NAME',
 'PASSENGER_HANDLING',
 'PASS_GEN_SVC_ADMIN',
 'ARCFT_TRAF_HANDLING_GRP1',
 'GEN_ARCFT_TRAF_HANDLING',
 'MANUFACTURE_YEAR',
 'NUMBER_OF_SEATS',
 'CARRIER_NAME',
 'SERVICE_CLASS',
 'REV_ACRFT_DEP_PERF_510',
 'REV_PAX_ENP_110']

In [66]:
nwdf.to_csv('C:\\Users\\sachi\\Downloads\\archive (5)\\raw_data\\Ontimerepclean\\merged-flight-dataset-2019-20.csv')